[package]
edition = "2018"

name = "mbackup"
version = "0.1.0"
authors = [ "Jakob Truelsen <jakob@scalgo.com>" ]

[[bin]]
name = "mbackupd"
path = "src/server/main.rs"

[[bin]]
name = "mbackup"
path = "src/client/main.rs"

[dependencies]
log = "0.4.6"
simple_logger = "1.0.1"
rusqlite = "0.18.0"
rust-crypto = "0.2.36"
hyper = "0.12"
futures = "0.1"
tokio = "0.1.12"
rand = "0.6"
reqwest = "0.9.17"
hex = "0"
clap = "2.33.0"
toml = "0.5.1"
serde = "1.0"
native-tls = ""
tokio-tls = "0.2.1"
chrono = "0.4.6"
base64 = "0.10.1"
pbr = "1.0.1"
nix = "0.14.0"
libc = "0.2"
rust-lzma = "0.4.0"
