[package]
edition = "2018"

name = "mbackup"
version = "0.1.0"
authors = [ "Jakob Truelsen <jakob@scalgo.com>" ]

[[bin]]
name = "mbackupd"
path = "src/server/main.rs"

[[bin]]
name = "mbackup"
path = "src/client/main.rs"

[dependencies]
log = ""
rusqlite = ""
rust-crypto = ""
rand = ""
reqwest = ""
hex = ""
clap = ""
toml = ""
serde = { version = "1.0", features = ["derive"] }
chrono = ""
base64 = ""
pbr = ""
nix = ""
libc = ""
rust-lzma = ""
itertools = ""
hyper = "0.13.0"
tokio = {version="0.2", features = ["rt-threaded", "macros"]}
