[package]
edition = "2018"

name = "mbackup"
version = "0.1.0"
authors = [ "Jakob Truelsen <jakob@scalgo.com>" ]

[[bin]]
name = "mbackupd"
path = "src/server/main.rs"

[[bin]]
name = "mbackup"
path = "src/client/main.rs"

[dependencies]
log = ""
simplelog = ""
rusqlite = ""
rust-crypto = ""
rand = ""
reqwest = ""
hex = ""
clap = ""
toml = ""
serde = ""
chrono = ""
base64 = ""
pbr = ""
nix = ""
libc = ""
rust-lzma = ""
itertools = ""
hyper = { git = "https://github.com/hyperium/hyper" }
tokio = { git = "https://github.com/tokio-rs/tokio" }
